.br-red{
  border:2px red solid;
}
.br-green{
  border: 2px green solid;
}
.br-orange{
  border: 2px solid orange;
}
.btn-social {
  height: 2.5rem;
  width: 2.5rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border-radius: 100%;
}
.btn-color-1 {
  color: #fff;
  background-color: #43aac6 ;
  border-color: #43aac6 ;
  transition: all 0.3s linear;
}
.btn-color-1:hover {
  color: #fff;
  background-color: #A3E4D7;
  border-color: #A3E4D7;
}
.btn-color-2 {
  color: #fff;
  background-color:#272858 ;
  border-color:#272858 ;
  transition: all 0.3s linear;
}
.btn-color-2:hover {
  color: #fff;
  background-color:#1A5276;
  border-color: #1A5276;
}
.btn-white-green{
  color: #fff;
  text-decoration: none;
  transition: all 0.3s linear;
}
.btn-white-green:hover{
  color: #A3E4D7;
}
.bg-gray{
  background-color: #F2F4F4 !important;
}
.bg-color-1{
  background-color: #43aac6 !important;
}
.bg-color-2{
  background-color: #272858 !important;
}
.bg-color-3{
  background-color: #A3E4D7 !important;
}
.bg-color-4{
  background-color: #3498DB !important;
}
.br-color-1{
  border: 2px solid #43aac6;
}
.text-color-1{
  color: #43aac6;
}
.text-color-2{
  color: #272858;
}
.text-color-3{
  color: #A3E4D7;
}
.text-color-4{
  color: #3498DB;
}
.text-opacity-1{
  color: #EAECEE;
}
.text-center{
  text-align: center;
}
.text-justify{
  text-align: justify;
}
.text-left{
  text-align: left;
}
.text-right{
  text-align: right;
}
.nav-link-color-1{
  display: block;
  padding: 0.5rem 1rem;
  color: #43aac6;
  transition: all 0.3s linear;
  text-decoration: none;
}
.nav-link-color-1:hover{
  color: #A3E4D7;
  text-decoration: none;
}
.text-transparent{
  color: transparent;
}
.mt-9,
.my-9 {
  margin-top: 7rem !important;
}
.mb-9,
.my-9 {
  margin-bottom: 7rem !important;
}
.mt-8{
  margin-top: 4.3rem !important;
}
.text-sm{
  font-size: 0.8rem;
}
.text-md{
  font-size: 1.3rem;
}
.text-lg{
  font-size: 1.8rem;
}
.text-xl{
  font-size: 2rem;
}
.w-100{
  width: 100%;
}
.w-90{
  width: 90%;
}
.w-80{
  width: 80%;
}
.w-60{
  width: 60%;
}
.w-50{
  width: 50%;
}
.w-40{
  width: 40%;
}
.w-30{
  width: 30%;
}
.w-25{
  width: 25%;
}
.w-20{
  width: 20%;
}
.w-15{
  width: 15%;
}
.w-10{
  width: 10%;
}

.img-hover {
    display: block;
    margin-left: auto;
    margin-right: auto;
    transform: scale(1);
    opacity: 1;
    transition: all 0.3s linear;
  }
.img-hover:hover {
  opacity: .5;
      transform: scale(1.1);
    }


